<!DOCTYPE html>
<<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>



    </style>
</head>
<body>
<section>

  <div class="container-fluid mt-5 p-5">
    <a href="/admin/" class="text-decoration-none"><i class="fa-solid fa-arrow-left" ></i> Back</a>
    <hr>
    <div class="card card-sh">
      <div class="card-header text-center">
        <p class="fs-4" th:if="${userType==1}">Users</p>
        <p class="fs-4" th:if="${userType==2}">Admin</p>
        <div th:if="${session.succMsg}" class="message-box" id="successMessage">
          <p class="text-success fw-bold" th:text="${session.succMsg}"></p>
          <th:block th:if="${@commonServiceImpl.removeSessionMessage()}"></th:block> <!-- Just invoke the method -->
        </div>

        <!-- Error message -->
        <div th:if="${session.errorMsg}" class="message-box" style="background-color:red;" id="errorMessage">
          <p class="text-danger fw-bold" th:text="${session.errorMsg}"></p>
          <th:block th:if="${@commonServiceImpl.removeSessionMessage()}"></th:block> <!-- Just invoke the method -->
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Sl No</th>
            <th scope="col">Profile</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Address</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="u,c:${users}">
            <th scope="row">[[${c.count}]]</th>
            <td><img th:src="${u.profileImage}"

                     width="70px" height="70px"></td>
            <td>[[${u.name}]]</td>
            <td>[[${u.email}]]</td>
            <td>[[${u.mobileNumber}]]</td>
            <td>[[${u.address+','+u.city+','+u.state+','+u.pincode}]]</td>
            <td>[[${u.isEnable}]]</td>
            <td>

              <a th:href="@{'/admin/updateSts?status=true&id='+${u.id}}+'&type='+${userType}"
                   class=" an btn btn-sm btn-primary">Active</a>



              <a
                      th:href="@{'/admin/updateSts?status=false&id='+${u.id}}+'&type='+${userType}"
                      class="an btn btn-sm btn-danger">
                Inactive</a>


            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
setTimeout(function() {

const successMessage = document.getElementById('successMessage');
const errorMessage = document.getElementById('errorMessage');
console.log(successMessage);
if (successMessage) {
successMessage.style.opacity = '0';  // Fade out the success message
}
if (errorMessage) {
errorMessage.style.opacity = '0';  // Fade out the error message
}
}, 2200);  // Time in milliseconds (5000 ms = 5 seconds)
</script>
</section>
</body>
</html>